*.html

new_slides/*.aux
new_slides/*.nav
new_slides/*.snm
new_slides/*.glo
new_slides/*.idx
new_slides/*.log
new_slides/*.toc
new_slides/*.ist
new_slides/*.acn
new_slides/*.acr
new_slides/*.alg
new_slides/*.bbl
new_slides/*.blg
new_slides/*.dvi
new_slides/*.glg
new_slides/*.gls
new_slides/*.ilg
new_slides/*.ind
new_slides/*.lof
new_slides/*.lot
new_slides/*.maf
new_slides/*.mtc
new_slides/*.mtc1
new_slides/*.out
new_slides/*.synctex.gz

new_slides/MyriadArabic-Bold.otf
new_slides/MyriadArabic-BoldItalic.otf
new_slides/MyriadArabic-Italic.otf
new_slides/MyriadArabic-Regular.otf
new_slides/*.nav
new_slides/*.pdf
